Package: com.ioscreatix.Maize
Name: Maize
Depends: firmware (>= 10.0), mobilesubstrate, com.a3tweaks.flipswitch
Version: 1.0.5
Architecture: iphoneos-arm
Description: The iOS 11 Control Center on iOS 10
Replaces: com.ioscreatix.maizepreview, com.atwiiks.horseshoe, org.thebigboss.horseshoe
Maintainer: Creatix
Conflicts: org.thebigboss.vigor
Author: Creatix
Section: Tweaks
Tag: compatible::ios10
