Package: com.ioscreatix.maize
Name: Maize
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Creatix
Author: Creatix
Section: Tweaks
