<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.ioscreatix.MaizeUI.FlipSwitch</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>MinimumOSVersion</key>
	<string>2.0</string>
	<key>width</key>
	<integer>29</integer>
	<key>height</key>
	<integer>29</integer>
	<key>layers</key>
	<array>
		<dict>
			<key>variant</key>
			<string>subtle</string>
			<key>type</key>
			<string>glyph</string>
			<key>size</key>
			<integer>21</integer>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>4</integer>
			<key>opacity</key>
			<real>1</real>
			<key>color</key>
			<string>#ffffff</string>
		</dict>
	</array>
</dict>
</plist>
